<body>
    <h1>Pattern Library</h1>
    <div>
        <a asp-controller="Home" asp-action="AddPattern" class="btn btn-primary">Add New Pattern</a>
    </div>
    <div>
        <h2>Your Patterns</h2>
        <ul id="patternList">
        </ul>
        <p id="emptyState">No Patterns in Library yet.</p>
    </div>
    <script src="~/js/librarydisplay.js"></script>
</body>
